<section>
  <div class="page-header">
    <h1>Walls</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="wall in vm.walls"
       ui-sref="walls.view({ wallId: wall._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="wall.created | date:'mediumDate'"></span>
        by
        <span ng-if="wall.user" ng-bind="wall.user.displayName"></span>
        <span ng-if="!wall.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="wall.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.walls.$resolved && !vm.walls.length">
    No Walls yet, why don't you <a ui-sref="walls.create">create one</a>?
  </div>
</section>
