<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<style>
table {
    font-family: lato;
    color: #52595d;
    border-collapse: collapse;
    border-color: transparent;
    width: 100%;
}
form{
  font-family: lato;
  color: #52595d;
}
th{font-size: 20px;}

td, th {
    border: 1px solid transparent;
    text-align: left;
    padding: 8px
}
tr:nth-child(even) {
    background-color: #f2f3f3;
}
td.redish{color: #e05e60;}
td.mint{color: #3ac397;}

h1{
  font-family: lato;
  color: #52595d;
  padding: 0px;
}
h4{
  color:#3ac397;
}
.btn-primary {
    border-radius: 15px;
    color: #fff;
    background-color: #3ac397;
    border-color: #3ac397;
    background-image: none;
}
.btn:hover{
  transition: background-color 0.3s ease;
  background-color: #31aa84;
  border-color: #31aa84;
  background-image: none;
}
.thumbnail img {
    max-height: 100%;
    max-width: 100%;
    border-color: #ffffff;

}
.twentyFiveText{
  text.size: 125%;
}
.fiftyText{
  text.size: 150%;
}

</style>

  <div class="col-md-12 text-center">
    <center><h1 ng-bind= "'Quote for ' + vm.wall.name"></h1></center>
  </div>
  <div class = "row">
    <div class = "col-sm-2">
    </div>
    <div class = "col-sm-8">
      <center><p>
        <table>
          <tr>
            <th><center>Height: </center></th>
            <th>{{vm.wall.wall_info.length}}</th>
          </tr>
          <tr>
            <th><center>Width: </center></th>
            <th>{{vm.wall.wall_info.width}}</th>
          </tr>
          <tr>
            <th><center>Wall Type: </center></th>
            <th>{{vm.wall.Wall_type}}</th>
          </tr>
          <tr>
            <th><center>Paint Type: </center></th>
            <th>{{vm.wall.wall_info.paint_type}}</th>
          </tr>
          <tr>
            <th><center>Required Preparation: </center></th>
            <th>{{vm.wall.wall_info.prep_req}}</th>
          </tr>
          <tr>
            <th><center>Recoloring: </center></th>
            <th>{{vm.wall.wall_info.recolor}}</th>
          </tr>
          <tr>
        </table>
      </p></center>
    </div>
    <div class = "col-sm-2">
    </div>
  </div>
  <div class = "row">
            <div class = "col-md-1">
            </div>
            <div class = "col-md-10">
              <a class = "thumbnail">
                <img ng-src="{{vm.wall.picture}}">
              </a>
            </div>
            <div class = "col-md-1">
            </div>
          </div>
  <br>
  <br>

  </div>

  </div>
  <div class="row">
    <div class= "container col-md-6 col-md-offset-3">
    <form name="vm.form.quoteForm" ng-submit="vm.update(vm.form.quoteForm.$valid)" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group"  >
          <center><label for="quote"><h2>Total Mural Cost</h2></label></center>
          <br>
          <div class= "col-md-6"><center>
          <span
          <label><h3>hasQuote: </h3>
            <input type="checkbox" ng-model="vm.wall.status.hasQuote" ng-click="vm.saveStatus()">
          </label>
          <br>

          <label><h3>paid: </h3>
            <input type="checkbox" ng-model="vm.wall.status.paid" ng-click="vm.saveStatus()">
          </label>
          <br>
        </div></center>
          <div clas = "col-md-6"><center>
          <label><h3>matched: </h3>
            <input type="checkbox" ng-model="vm.wall.status.matched" ng-click="vm.saveStatus()">
          </label>
          <br>

          <label><h3>completed: </h3>
            <input type="checkbox" ng-model="vm.wall.status.completed" ng-click="vm.saveStatus()">
          </label>
          <br>
        </div></center><br>
          <!--  <label class="control-label"><input name="quote" type="radio" ng-model="vm.priceIsGood" ng-value="1" >Price is Good
          </label> -->
          <input type="text"  ng-model="vm.wall.price" id="price" class="form-control" placeholder="example: $180" required>
          <br>
          <center><button type="submit" class="btn btn-primary" ng-click="vm.saveHasQuote()">Save Quotes
          </button></center>
            </span>

          <br/>
          <br/>
          <hr >

        </div>
        <div class="text-center form-group">
          <!--button type="submit" class="btn btn-primary">Submit quote</button-->
        </div>
      </fieldset>
    </form>
  </div>
