<style>
table {
    font-family: lato;
    color: #52595d;
    border-collapse: collapse;
    width: 100%;
}
form{
  font-family: lato;
  color: #52595d;
}
th{font-size: 20px;}

td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px
}
tr:nth-child(even) {
    background-color: #f2f3f3;
}
td.redish{color: #e05e60;}
td.mint{color: #3ac397;}

h1{
  font-family: lato;
  color: #52595d;
  padding: 0px;
}
h4{
  color:#52595d;
}
.btn-primary {
    border-radius: 15px;
    color: #fff;
    background-color: #3ac397;
    border-color: #3ac397;
    background-image: none;
}
.btn:hover{
  transition: background-color 0.3s ease;
  background-color: #31aa84;
  border-color: #31aa84;
  background-image: none;
}
.thumbnail img {
    max-height: 100%;
    max-width: 100%;
}
</style>
<section>
    <div class="page-header" >
      <h1 ng-bind="vm.wall.name"></h1>
      <button type="button" ng-click="vm.email()">Submit
    </div>

    <div class="pull-right"
         ng-show="vm.wall.isCurrentUserOwner">
      <a class="btn btn-primary"
         ui-sref="walls.edit({ wallId: vm.wall._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <small>
      <em class="text-muted">
        Created
        <span ng-bind="vm.wall.created | date:'mediumDate'"></span>
        by
        <span ng-if="vm.wall.user"
              ng-bind="vm.wall.user.displayName"></span>
        <span ng-if="!vm.wall.user">Deleted User</span>
      </em>
    </small>
    <div class = row>
      <div class = "col-md-2">
      </div>
      <div class = "container">
        <div class = "col-md-10">
          <a class = "thumbnail">
          <center><img ng-src="{{vm.wall.picture}}"></center>
          </a>
        </div>
      </div>
      <div class = "col-md-2">
      </div>
    </div>
      <center><p>
        <h4> Length: {{vm.wall.wall_info.length}}</h4>
        <h4>Width: {{vm.wall.wall_info.width}}</h4>
        <h4>Type of Location: {{vm.wall.wall_info.loc_type}}</h4>
        <h4>Material: {{vm.wall.wall_info.material}}</h4>
        <h4>Finish: {{vm.wall.wall_info.finish}}</h4>
        <h4>Paint Name: {{vm.wall.wall_info.paint_name}}</h4>
        <h4>Required Preparation: {{vm.wall.wall_info.prep_req}}</h4>
        <h4>Required Paint: {{vm.wall.wall_info.paint_req}}</h4>
        <h4>Recoloring: {{vm.wall.wall_info.recolor}}</h4>
        <h4>Type of Wall: {{vm.wall.Wall_type}}</h4>
        <h4>Customer email: {{vm.wall.user.email}}</h4>
        <h4>Customer Name : {{vm.wall.user.firstName}} {{vm.wall.user.lastName}}</h4>
      </p></center>
    </div>    
  </section>
