<!DOCTYPE html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<style>
h1{
  font-family: lato;
  color: #52595d;
  padding: 0px;
}

.btn-primary {
    border-radius: 17px;
    color: #fff;
    background-color: #3ac397;
    border-color: #3ac397;
    background-image: none;
}
.btn:hover{
  transition: background-color 0.3s ease;
  background-color: #31aa84;
  border-color: #31aa84;
  background-image: none;
}

label{
  font-family: lato;
  font-size: 15px;
  color: #52595d;
}

</style>
</head>

<body>
<section>
  <h1>Edit User: <span ng-bind="user.username"></span></h1>
  <div class="col-md-12">
    <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required />
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required />
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">Roles</label>
          <div class="controls">
            <input class="form-control" type="text" name="roles" ng-model="user.roles" id="roles" ng-list required />
            <div ng-messages="userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At least one role is required.</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-primary btn-round btn">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
</body>