<section>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <div class="page-header">
    <h1>Drag and Drop</h1>
  </div>

  <style>

    img {
      height: 100px;
      width: 100px;

    }

    #images .img_dragging {
        opacity: 0.4;
    }

      #right{
        position: relative;
        height: 700px;
        top: 0;
        bottom: 0;
        right: 0;
        overflow-y: auto;
        width: 15%;
        align-content: center;
        align-items: center;
      /* height: 75%; */
      background-color: rgb(192, 185, 185);
      padding-top: 20px;
      border: 1px solid #ccc;
        box-shadow: 0 0 5px 1px #dddddd;
    }

    [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
        cursor: move;
    }

    canvas {
        border: 1px solid #ccc;
        box-shadow: 0 0 5px 1px #dddddd;
    }

    #canvas,#canvas_back{
            position:absolute;
            width:750 px;
            height:650px;
    }
  </style>
  <div class="container-fluid">
    <div class="row">

     
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-8">
      <h4 style="color : #e05e60"> Upload Wall Image: <input class="btn btn-primary" type="file" id="fileUpload"/></h4>
        <div id="canvas-container">
        
          
          <canvas id="canvas_back" width="750" height="650"></canvas>
          <canvas id="canvas" width="750" height="650"></canvas>
          <canvas id="canvas_out" width="750" height="650" hidden="true"></canvas>
          <form id="canvs-options">
            <label style="color:green">Finish Wall: </label>
            <input class="btn btn-success" id="save" type="submit" value="Save">
          </form>

          <script>
        
          function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(100)
                        .height(100);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

          var canvas = new fabric.Canvas('canvas');
          var currentlyDragging;

          var canvas_options_form = $("canvas-options");

          var canvas_filename = $("canvas-filename");
          var cavos = document.getElementById("canvas");
          var ctx_front = cavos.getContext('2d');


          var canvas_back = document.getElementById("canvas_back"),
            ctx = canvas_back.getContext("2d");


          function el(id) { return document.getElementById(id); } // Get elem by ID

          var testcan = el("canvas_back");
          var context = testcan.getContext("2d");


          function readImage() {
            if (this.files && this.files[0]) {
              var FR = new FileReader();
              FR.onload = function (e) {
                var img = new Image();
                img.addEventListener("load", function () {
                  context.drawImage(img, 0, 0, canvas.width, canvas.height);
                });
                img.src = e.target.result;
              };
              FR.readAsDataURL(this.files[0]);
            }
          }

          el("fileUpload").addEventListener("change", readImage, false);

          function handleDragStart(e) {
            [].forEach.call(images, function (img) {
              img.classList.remove('img_dragging');
            });
            this.classList.add('img_dragging');
            currentlyDragging = e.target;
          }

          function handleDragOver(e) {
            if (e.preventDefault) {
              e.preventDefault(); // Necessary. Allows us to drop.
            }

            e.dataTransfer.dropEffect = 'copy'; // See the section on the DataTransfer object.
            // NOTE: comment above refers to the article (see top) -natchiketa

            return false;
          }

          function handleDragEnter(e) {
            // this / e.target is the current hover target.
            this.classList.add('over');
          }

          function handleDragLeave(e) {
            this.classList.remove('over'); // this / e.target is previous target element.
          }

          function handleDrop(e) {
            if (e.preventDefault) {
              e.preventDefault();
            }

            if (e.stopPropagation) {
              e.stopPropagation(); // stops the browser from redirecting.
            }



            // console.log('event: ', e);
            var ext = currentlyDragging.src.substr(-3);
            if (ext === 'svg') {
              fabric.loadSVGFromURL(currentlyDragging.src, function (objects, options) {
                var svg = fabric.util.groupSVGElements(objects, options);
                svg.left = e.layerX;
                svg.top = e.layerY;
                canvas.add(svg);
              });
            } else {
              var newImage = new fabric.Image(currentlyDragging, {
                width: currentlyDragging.width,
                height: currentlyDragging.height,
                // Set the center of the new object based on the event coordinates relative
                // to the canvas container.
                left: e.layerX,
                top: e.layerY
              });
              canvas.add(newImage);
            }
            return false;
          }

          function handleDragEnd(e) {
            // this/e.target is the source node.
            [].forEach.call(images, function (img) {
              img.classList.remove('img_dragging');
            });
          }

          if (Modernizr.draganddrop) {
            // Browser supports HTML5 DnD.

            // Bind the event listeners for the image elements
            var images = document.querySelectorAll('#images img');
            var objects = document.querySelectorAll('#images object');
            [].forEach.call(images, function (img) {
              img.addEventListener('dragstart', handleDragStart, false);
              img.addEventListener('dragend', handleDragEnd, false);
            });
            [].forEach.call(objects, function (obj) {
              obj.addEventListener('dragstart', handleDragStart, false);
              obj.addEventListener('dragend', handleDragEnd, false);
            });
            // Bind the event listeners for the canvas
            var canvasContainer = document.getElementById('canvas-container');
            var canvasContainer = document.getElementById('canvas-container');
            canvasContainer.addEventListener('dragenter', handleDragEnter, false);
            canvasContainer.addEventListener('dragover', handleDragOver, false);
            canvasContainer.addEventListener('dragleave', handleDragLeave, false);
            canvasContainer.addEventListener('drop', handleDrop, false);
          } else {
            // Replace with a fallback to a library solution.
            alert("This browser doesn't support the HTML5 Drag and Drop API.");
          }

          //var cavos = document.getElementById("canvas");
          //var crazy = canvas_back.getContext('2d');
          //crazy.drawImage(cavos, 0, 0)
          var outcan = document.getElementById("canvas_out"),
            ctx_out = outcan.getContext('2d');


          //avos.background.src =
          $("#save").click(function () {
            //canvas_filename.value = canvas_filename;

            ctx_out.drawImage(testcan, 0, 0, canvas.width, canvas.height);
            ctx_out.drawImage(cavos, 0, 0, canvas.width, canvas.height);

            if (!window.localStorage) { alert("This function is not supported by your browser."); return; }
            var blob = new Blob([b64toBlob(outcan.toDataURL('png').replace(/^data:image\/(png|jpg);base64,/, ""), "image/png")], { type: "image/png" });
            saveAs(blob, canvas_filename.value);

            confirm('Please Save this image locally to use it in the following step');

          });


          function b64toBlob(b64Data, contentType, sliceSize) {
            contentType = contentType || '';
            sliceSize = sliceSize || 512;

            var byteCharacters = atob(b64Data);
            var byteArrays = [];

            for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
              var slice = byteCharacters.slice(offset, offset + sliceSize);

              var byteNumbers = new Array(slice.length);
              for (var i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
              }

              var byteArray = new Uint8Array(byteNumbers);

              byteArrays.push(byteArray);
            }

            var blob = new Blob(byteArrays, { type: contentType });
            return blob;
          }

          $("#addTextbox").click(function () {
    var text = 'Enter measurement here';

    var textSample = new fabric.Textbox(text.slice(0, 22), {
      fontSize: 20,
      left: 10,
      top: 10,
      fontFamily: 'Lato',
      angle: 0,
      fill: '#00ff00',
      fontWeight: '',
      originX: 'left',
      width: 300,
      hasRotatingPoint: true,
      centerTransform: true,
      borderColor: '#969b9d'
    });

    canvas.add(textSample);
  });

  $("#confirmClear").click(function () {
    if (confirm('Are you sure you would like to clear the canvas?')) {
      canvas.clear();
    }
  });

          </script>

        </div>
      </div>


      Upload Your Own design: <input type='file' onchange="readURL(this);" />
      <button class="btn" id="addTextbox">Add textbox</button>
      <button class="btn btn-danger clear" id="confirmClear">Clear canvas</button>
      <h3>Select Designs:</h3>
      <div id="right" class="col-md-2">
        
         <div id="images">
            <output id="list"></output>
            

          <ul>
                    
          <img draggable="true" id="blah" src="#"  alt="" />
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/1.svg" width="100" height="100">
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/3.svg" width="100" height="100">
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/4.svg" width="100" height="100">
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/5.svg" width="100" height="100">
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/6.svg" width="100" height="100">
          <br>
          <img draggable="true" src="https://cdn.filestackcontent.com/FJPi2nTQJConuxlJ77Wc" width="100" height="100">

          </ul>
          <ul>
          <img draggable="true" src="http://fabricjs.com/assets/20.svg" width="100" height="100">
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/28.svg" width="100" height="100">
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/50.svg" width="100" height="100">
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/68.svg" width="100" height="100">
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/47.svg" width="100" height="100">

          <br>
          <img draggable="true" src="https://cdn.filestackcontent.com/EyyS6XWYRyOMmCTdtFoO" width="100" height="100">
          <br>
          <img draggable="true" src="https://cdn.filestackcontent.com/hrRGnPfNTSe5ub06Fhpk" width="100" height="100">
          <br>
          <img draggable="true" src="https://cdn.filestackcontent.com/38EhcnNuTDS5sOH1krME" width="100" height="100">
          <br>
          <img draggable="true" src="https://cdn.filestackcontent.com/2STUpwxmTAytOkWqB43h" width="100" height="100">
          <br>
          <img draggable="true" src="https://cdn.filestackcontent.com/GTw0N7egT3qbvp7REo0G" width="100" height="100">
          <br>
          <img draggable="true" src="https://cdn.filestackcontent.com/5cIDaNqRSDOVhqtKwLU9" width="100" height="100">
          <br>
          <img draggable="true" src="https://cdn.filestackcontent.com/mWzEgl8VS6KvFiRH2XEb" width="100" height="100">
          <br>
          <img draggable="true" src="http://fabricjs.com/assets/47.svg" width="100" height="100">
          
          </ul>
        </div>
        </div>
      </div>

    <input ui-sref-active="active"  ui-sref="walls.create"  type="submit" value="Get a Custom Mural">
</div>
