<div ng-controller="MuralRequestController">
  <h3 class="col-md-12 text-center">Preview Information</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="contactform(userForm.$valid)" class="contactus" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" >
          <label for="firstName">First Name</label>
          <p type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" >Kemley Nieva</p>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <p type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email"  > kemleynieva@gmail.com</p>
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <p type="text" id="message" name="message" class="form-control" ng-model="credentials.message" placeholder="message" > My request</p>
        </div>

        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Submit Mural Request</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>

      </fieldset>
    </form>
  </div>
</div>
