<section>
  <div class="page-header">
    <h1>{{vm.wall._id ? 'Edit Wall' : 'New Wall'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.wallForm" class="form-horizontal" ng-submit="vm.save(vm.form.wallForm.$valid)" novalidate>
      <fieldset>

        <div class="row">

                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 text-center">
                        <p>Wall Image: </p>
                        <img src="modules/walls/client/img/defaultWall.png">
                        <input type="file" id="wall" accept="image/*" />
                    </div>



                    <div class="col-sm-6">
                        <div class="form-group" show-errors>
                          <label class="control-label" for="name">Name</label>
                          <input name="name" type="text" ng-model="vm.wall.name" id="name" class="form-control" placeholder="Name" required>
                              <div ng-messages="vm.form.wallForm.name.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Wall name is required.</p>
                              </div>
                        </div>
                               <!-- wall info -->
                        <div class="form-group">
                            <label class="control-label" for="wall_info.length">Width</label>
                            <input name="wall_info" type="text" ng-model="vm.wall.wall_info.length" id="wall_info.length" class="form-control" placeholder="9', 3m, 108in" required>

                        </div>

                        <div class="form-group" >
                            <label class="control-label" for="wall_info.height">Height</label>
                            <input name="wall_info.height" type="text" ng-model="vm.wall.wall_info.height" id="wall_info.height" class="form-control" placeholder="7ft, 84in" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="loc_type">Location Type</label>
                            <input name="loc_type" type="text" ng-model="vm.wall.wall_info.loc_type" id="loc_type" class="form-control" placeholder="Business/Personal">
                        </div>
                      </div>
                </div>


                <div class="row">
                    <div class="col-sm-3 col-sm-push-3">
                        <div class="form-group">
                            <label class="control-label" for="material">Material</label>
                            <input name="material" type="text" ng-model="vm.wall.wall_info.material" id="material" class="form-control" placeholder="Brick, Concrete, Wood" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="finish">Finish</label>
                            <input name="finish" type="text" ng-model="vm.wall.wall_info.finish" id="finish" class="form-control" placeholder="Matte, Semi-Gloss, or Gloss" required>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-pull-3">
                        <div class="form-group">
                              <label class="control-label" for="paint">Paint Brand/Name</label>
                            <input name="paint" type="text" ng-model="vm.wall.wall_info.paint" id="paint" class="form-control" required>
                        </div>
                        <div class="form-group">
                           <label class="control-label" for="paint_type">Paint Type</label>
                            <input name="paint_type" type="text" ng-model="vm.wall.wall_info.paint_type" id="paint_type" class="form-control" required>
                        </div>
                    </div>
               </div>



                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <label class="control-label" for="prep_req">Preparation Required:</label>
                            <input name="prep_req" type="text" ng-model="vm.wall.wall_info.prep_req" id="prep_req" class="form-control" placeholder="Sanding, Scraping, etc. (or none)" required>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                              <label class="control-label" for="paint_req">Repainting Required:</label>
                            <input name="paint_req" type="text" ng-model="vm.wall.wall_info.paint_req" id="paint_req" class="form-control" placeholder="yes/no" required>
                        </div>
                        <div class="form-group">
                           <label class="control-label" for="recolor">New Color:</label>
                            <input name="recolor" type="text" ng-model="vm.wall.wall_info.recolor" id="recolor" class="form-control" placeholder="Red, Blue, etc." required>
                        </div>
                    </div>
                </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default" ui-sref="mural-select">{{vm.wall._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

      </fieldset>
    </form>
  </div>
</section>
